@model Restoran.Model.MstPegawai

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "idFormEditPegawai" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>MstPegawai</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        @Html.HiddenFor(model => model.KodePegawai)

        <div class="form-group">
            @Html.LabelFor(model => model.NamaLengkap, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NamaLengkap)
                @Html.ValidationMessageFor(model => model.NamaLengkap)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.JenisKelamin, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.JenisKelamin)
                @Html.ValidationMessageFor(model => model.JenisKelamin)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Alamat, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Alamat)
                @Html.ValidationMessageFor(model => model.Alamat)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Status)
                @Html.ValidationMessageFor(model => model.Status)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
