@model IEnumerable<Restoran.ViewModel.MstPegawaiViewModel>

<table class="table" id="idTablePegawai">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NamaLengkap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JenisKelamin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alamat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NamaLengkap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JenisKelamin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alamat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <button type="button" class=" btn btn-success">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button type="button" class=" btn btn-info">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
                <button type="button" class="btn btn-danger deleteDataPegawai" dataid=@item.ID>
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
        </tr>
    }

</table>
<script>
    //untuk button deletePegawai
    $(".deleteDataPegawai").click(function () {
        debugger;
        alert("Delete");
        var vIDPegawai = $(this).attr("dataId");
        $.ajax({
            url: "/Pegawai/Delete",
            data: { ID: vIDPegawai },
            type: "POST",
            success: function (model) {
                if (model.Pesan == "Success") {
                    alert("Selamat Data Berhasil Dihapus");
                    window.location.href = "/Pegawai/Index";
                }
                else {
                    alert("Data Gagal DI hapus");
                    window.location.href = "/Pegawai/Index";
                }
            },
            error: function (model) {
            }
        });
    });


    $("#idBtnSearch").click(function () {
        var vKataKunci = $("#idSearch").val();
        $.ajax({
            url: "/Pegawai/Search",
            data: { key: vKataKunci },
            type: "GET",
            success: function (model) {
                $("#idTablePegawai").html(model);
            },
            error: function (model) {
            }
        });
    });
</script>
