@model Restoran.Model.MstKeanggotaan

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "idFormEditKeanggotaan" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>MstKeanggotaan</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        @Html.HiddenFor(model => model.KodeKeanggotaan)

        <div class="form-group">
            @Html.LabelFor(model => model.KodeTipeKeanggotaan, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.KodeTipeKeanggotaan, (IEnumerable<SelectListItem>)ViewBag.ListTipeKeanggotaan, "Pilih Kategori Menu", new { @class = "from-control" })
                @Html.ValidationMessageFor(model => model.KodeTipeKeanggotaan)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NomerIdentitas, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NomerIdentitas)
                @Html.ValidationMessageFor(model => model.NomerIdentitas)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NamaLengkap, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NamaLengkap)
                @Html.ValidationMessageFor(model => model.NamaLengkap)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Alamat, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Alamat)
                @Html.ValidationMessageFor(model => model.Alamat)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NomerHandphone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NomerHandphone)
                @Html.ValidationMessageFor(model => model.NomerHandphone)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
