@model Restoran.ViewModel.MstDaftarMenuViewModel

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "idFormDaftarMenu" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>MstDaftarMenuViewModel</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.KodeDaftarMenu, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KodeDaftarMenu)
                @Html.ValidationMessageFor(model => model.KodeDaftarMenu)
            <div id="idValidasiKodeDaftarMenu" style="display:none"><span style="color:red">Kode Daftar Menu Tidak Boleh Kosong</span></div>
            </div>            
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KodeKategoriMenu, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.KodeKategoriMenu)*@
                @Html.DropDownListFor(model => model.KodeKategoriMenu, (IEnumerable<SelectListItem>)ViewBag.ListKategoriMenu, "Pilih Kategori Menu", new { @class = "from-control" })
                @Html.ValidationMessageFor(model => model.KodeKategoriMenu)
                <div id="idValidasiKodeKategoriMenu" style="display:none"><span style="color:red">Kode Kategori Harus Dipilih</span></div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NamaMenu, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NamaMenu)
                @Html.ValidationMessageFor(model => model.NamaMenu)
                <div id="idValidasiNamaMenu" style="display:none"><span style="color:red">Nama Menu Tidak Boleh Kosong</span></div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Harga, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Harga)
                @Html.ValidationMessageFor(model => model.Harga)
                <div id="idValidasiHarga" style="display:none"><span style="color:red">Harga Tidak Boleh Kosong</span></div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Status)
                @Html.ValidationMessageFor(model => model.Status)
                <div id="idValidasiStatus" style="display:none"><span style="color:red">Status Tidak Boleh Kosong</span></div>
            </div>
        </div>       
    </div>
}

<script>
    $("#KodeDaftarMenu").keyup(function () {
        var vKodeDaftarMenu = $("#KodeDaftarMenu").val();
        if (vKodeDaftarMenu) {
            $("#idValidasiKodeDaftarMenu").css({ display: "none" });
            $("#KodeDaftarMenu").css({ borderColor: "white" });
        }
    });
    $("#KodeKategoriMenu").change(function () {
        var vKodeDaftarMenu = $("#KodeDaftarMenu").val();
        if (vKodeDaftarMenu == "") {
            $("#idValidasiKodeDaftarMenu").css({ display: "block" });
            $("#KodeDaftarMenu").css({ borderColor: "red" });
        }
        if (vKodeDaftarMenu) {
            $("#idValidasiKodeKategoriMenu").css({ display: "none" });
            $("#KodeKategoriMenu").css({ borderColor: "black" });
        }
    });
    $("#NamaMenu").keyup(function () {        
        var vKodeKategoriMenu = $("#KodeKategoriMenu").val();
        if (vKodeKategoriMenu == "") {
            $("#idValidasiKodeKategoriMenu").css({ display: "block" });
            $("#KodeKategoriMenu").css({ borderColor: "red" });
        }
        if (vKodeKategoriMenu) {
            $("#idValidasiNamaMenu").css({ display: "none" });
            $("#NamaMenu").css({ borderColor: "white" });
        }
    });
    $("#Harga").keyup(function () {
        var vNamaMenu = $("#NamaMenu").val();
        if (vNamaMenu == "") {
            $("#idValidasiNamaMenu").css({ display: "block" });
            $("#NamaMenu").css({ borderColor: "red" });
        }
        if (vNamaMenu) {
            $("#idValidasiHarga").css({ display: "none" });
            $("#Harga").css({ borderColor: "white" });
        }
    });
    $("#Status").keyup(function () {
        var vHarga = $("#Harga").val();
        if (vHarga == "") {
            $("#idValidasiHarga").css({ display: "block" });
            $("#Harga").css({ borderColor: "red" });
        }
        if (vHarga) {
            $("#idValidasiStatus").css({ display: "none" });
            $("#Status").css({ borderColor: "white" });
        }
    });
</script>