@model IEnumerable<Restoran.ViewModel.MstDaftarMenuViewModel>

@{
    ViewBag.Title = "Index";
}
<table class="table" id="idTableDaftarMenu">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KodeKategoriMenu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NamaMenu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Harga)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KodeKategoriMenu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NamaMenu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Harga)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <button type="button" class=" btn btn-success editDaftarMenu" dataid=@item.ID>
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button type="button" class=" btn btn-info">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
                <button type="button" class="btn btn-danger deleteDaftarMenu" dataid=@item.ID>
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
        </tr>
    }

</table>
<script>
    //untuk button deletePegawai
    $(".deleteDaftarMenu").click(function () {
        alert("Delete");
        var vIDDaftarMenu = $(this).attr("dataId");
        $.ajax({
            url: "/DaftarMenu/Delete",
            data: { ID: vIDDaftarMenu },
            type: "POST",
            success: function (model) {
                if (model.Pesan == "Success") {
                    alert("Selamat Data Berhasil Dihapus");
                    window.location.href = "/DaftarMenu/Index";
                }
                else {
                    alert("Data Gagal DI hapus");
                    window.location.href = "/DaftarMenu/Index";
                }
            },
            error: function (model) {
            }
        });
    });

    $("#idBtnSearch").click(function () {
        var vKataKunci = $("#idSearch").val();        
        $.ajax({
            url: "/DaftarMenu/Search",
            data: { key: vKataKunci },
            type: "GET",
            success: function (model) {                
                $("#idTableDaftarMenu").html(model);                
            },
            error: function (model) {
            }
        });
    });
    $(".editDaftarMenu").click(function () {
        var vIDDaftarMenu = $(this).attr("dataId");
        $.ajax({
            url: "/DaftarMenu/Edit",
            data: { ID: vIDDaftarMenu },
            type: "GET",
            success: function (model) {
                $("#idModalBodyEditDaftarMenu").html(model);
                $("#idModalEditDaftarMenu").modal("show");
            },
            error: function (model) {

            }
        });
    });
</script>
